<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>PayPal join fees</title>
  <style>
       body {
        margin: 0;
        font-family: Arial, Reem Kufi, sans-serif;
        text-align: center;
       }
  </style>
</head>
<body  class="p-5">

  <h1 class="p-3"><t>Volarantfantasy PaypalPayment</t></h1>

  <h2 class="p-1">Join Contest Fees $100</h2>

  <form action="/regsiter/paymentcreate" method="post">
    <!-- <input type="submit" value="join"> -->
    <button type="submit" class="btn btn-success">join</button>
  </form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>